httplib2
slacker
Flask==0.12
astroid          
certifi           
chardet           
click             
colorama       
Flask            
idna         
install         
isort        
itsdangerous      
Jinja2
lazy-object-proxy 
MarkupSafe        
mccabe            
pip               
psycopg2          
pylint           
requests        
setuptools     
six              
toml           
urllib3        
Werkzeug        
wrapt           
